.space{
    padding:2%;
}

.marg{
    margin-right: 10%;
    margin-left: 10%;
}

body{
    background-color: tomato;
    font-family:monospace;
}

.right{
    width:46%;
    float:right;
}

.left{
    width:46%;
    float:left;
}

.zuzu{
    height:90%;
}

img{
    max-width: 100%;
    max-height:100%;
    border: white;
    border-width: 5px;
    border-style: solid;
}

h1{
    font-size: 3em;
    font:bold;
    color:white;
}

h2, h3 {
    font-size:2em;
}

h4{
    font-size:1.5em;
}

a {
    background-color:darkred;
    font-size:3em;
    color:white;
    padding: 8px;
    text-decoration:none;
    text-align: center;
    display:inline-block;
    margin-bottom:8px;
}

a:hover{
    background-color: crimson;
}